<div class="row" data-room-id="<%= @room.id %>">
  <div class="col-12 col-md-2">
    <h6 class="header">Rooms</h6>
    <%= render partial: 'rooms' %>
  </div>

  <div class="col message-wrapper">
    <div class="col">
      <h4 class="room-header"><strong>
        <%= @room.name %> room
      </strong></h4>
      <%= link_to 'Home', rooms_path, class: "btn btn-primary btn-sm" %>
      <hr/>
    </div>
    <%= render 'messages' %>
    <%= render 'new_message' %>
  </div>
</div>
